@charset "UTF-8";
#tro_logo {
  width: 300px;
  margin: 30px auto 80px auto;
  display: block;
  border-radius: 10px;
}
#my_iarea {
  background-color: white;
}

#favo {
  background-color: rgb(230, 221, 218);
  border-radius: 20px;
  width: 45%;
  margin: 0 0 20px 0;
}

.notfav{
  text-align: center;
  font-size: 20px;
  width: 60%;
  height: 250px;
  margin: 30px auto;    
  background: #FFF;
  border: solid 3px ;
  border-radius: 10px;
  color: rgb(162, 127, 112);
  background-color: rgb(255, 253, 240);
}

.notfav p{
  padding-top: 90px;
}

.ct {
  
  padding: 10px 0 10px 0;
}
#favo th {
  text-align: left;
  padding: 10px 0 10px 10px;
  border-top: 5px dotted white;
}
#favo td {
  padding: 10px 0 10px 10px;
}
.favotrouble {
  width: 1000px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.left-c {
  text-align: left;
  padding-left: 15px;
  padding-bottom: 10px;
  
  white-space: pre-wrap;
}
#upd {
  
  color: rgb(162, 127, 112);
}

